.chat-container{
    height: 100%;
    width: 100%;
    color: white;
}

.users, header{
    background: #444C5C;
}
header{
    height: 8%;
    width: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 40px;

    &, .users{
        color: white;
        background: #444C5C;
    }
}

.room-name{
    font-size: 36px;
}

.users-count{
    font-weight: 300;
    font-size: 26px;
    text-align: end;
}

main{
    display: grid;
    width: 100%;
    height: 92%;
    grid-template-columns: 15% 85%;
}

.users{
    padding: 0 20px;
    outline: 1px solid black;
}
.user{
    background: #373E4A;
    margin-top: 20px;
    padding: 16px;
    font-size: 26px;
    border-radius: 10px;
}
.chat{
    height: 85%;
    background: linear-gradient(to bottom right, #6C94AA, #416173);
    color: white;
    box-sizing: border-box;
    padding: 40px;
}

.message-box{
    max-width: 90%;
}

.message{
    background: #78A5A3;
    font-size: 26px;
    padding: 10px;
}

.sender{
    margin: 10px 0 0 10px;
    font-size: 20px;
}

.form-container{
    background: #537072;
    height: 15%;
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: inherit;
}
form{
    display: flex;
    align-items: flex-end;
    width: 100%;
    background: #537072;

    textarea{
        &::-moz-placeholder {
            color: lightgrey;
        }
        
        &::-webkit-input-placeholder {
            color: lightgrey
        }

        resize: none;
        padding: 20px 10px;
        width: 40%;
        background: #537072;
        outline: 2px solid #2F4041;
        color: inherit
    }

    button{
        margin-left: 20px;
        background: #455D5F;
        color: inherit;
        height: 50px;
        width: 170px;
        border: none;
        cursor: pointer;
    }
}

